<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Change Password</title>
</head>
<body>
<center>
	<h1>Change Your Password</h1>

	<form method="post" action="/user/Change_Password">
		<input type="password" name="password" placeholder="Password" style="margin: 5px 5px 5px 5px;"> <br>
		<input type="password" name="Vpassword" placeholder="Repeat Password" style="margin: 5px 5px 5px 5px;"> <br>
		<input type="submit" name="submit" class="btn btn-success" value="Change" style="margin: 5px 5px 5px 5px;"><br>
	</form>
	<a href="/user/session"><button class="btn btn-primary" id="session" style="margin-top: 5px; margin-bottom: 5px;"><p style="margin: 5px 5px 10px 10px;">Go Back</p></button></a>
</center>
</body>
</html>