<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Change E-mail</title>
</head>
<body>
<center>
	<h1>Change Your E-mail Address</h1>

	<form method="post" action="/user/Change_Email"
		<input type="email" name="email" placeholder="E-mail" style="margin: 5px 5px 5px 5px;"> <br>
		<input type="email" name="Vemail" placeholder="Repeat E-mail" style="margin: 5px 5px 5px 5px;"> <br>
		<input type="submit" name="submit" class="btn btn-success" value="Change" style="margin: 5px 5px 5px 5px;"><br>
	</form>
	<a href="/dashboard/user/:username"><button class="btn btn-primary" id="session" style="margin-top: 5px; margin-bottom: 5px;"><p style="margin: 5px 5px 10px 10px;">Go Back</p></button></a>
</center>
</body>
</html>